*{
    position: relative;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(216, 10, 230), rgb(5, 202, 247));
    font-family: 'Roboto',sans-serif;
}
.box{
    position: relative;
    width: 750px;
    background: #fff;
    border-radius: 24px;
    padding: 20px;
}
.box h4{
    color: #555;
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.box textarea{
    position: relative;
    width: 80% !important;
    height: 240px;
    resize: none;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 2);
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #555;
}
<<<<<<< HEAD
=======
.box p{
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color:#555;
}
.box p span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 24px;
    background: rgb(8, 228, 228);
    transition: all .5s;
}
.box p span.blink{
    box-shadow: 0px 0px 6px #05c9cb,
                0px 0px 12px #05a3ab,
                0px 0px 18px #045e66,
                0px 0px 24px #e8fc06;

}
>>>>>>> new
